<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h3>Consultas</h3>
            <a href="/consultas/PromedioMontoPorTipo" class="btn btn-secondary btn-lg btn-block mb-2">Promedio por tipo de Documento</a>
            <a href="/consultas/ContarComprobantesPorInforme" class="btn btn-secondary btn-lg btn-block mb-2">Contar Comprobantes por Informe</a>
            <a href="/consultas/ObtenerComprobantesInformePorMes" class="btn btn-secondary btn-lg btn-block mb-2">Consulta de Comprobantes por Mes</a>
            <a href="pagina4.html" class="btn btn-secondary btn-lg btn-block mb-2">Ultimos comprobantes</a>
            <a href="pagina5.html" class="btn btn-secondary btn-lg btn-block mb-2">Promedios por mes</a>
            <a href="pagina6.html" class="btn btn-secondary btn-lg btn-block mb-2">Totales generales</a>
            <a href="pagina7.html" class="btn btn-secondary btn-lg btn-block mb-2">Promedio por tipo de Documento</a>
            <a href="pagina8.html" class="btn btn-secondary btn-lg btn-block mb-2">Montos Totales por mes</a>
            <a href="pagina9.html" class="btn btn-secondary btn-lg btn-block mb-2">Primeros comprobantes por tipo por mes</a>
            <a href="pagina10.html" class="btn btn-secondary btn-lg btn-block mb-2">Comprobantes de mayor valor</a>
        </div>
    </div>
</div>