<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Sistema Informe Financiero</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/comprobantes_form">Ingresar comprobante</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/comprobantes_list">Ver Comprobantes</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/informes_list">Ver informes financieros</a>
            </li>
        </ul>
    </div>
</nav>